@-webkit-keyframes checkanim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}

@keyframes checkanim {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
}

@-webkit-keyframes progressappear {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes progressappear {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes loaderdisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loaderdisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes loaderdot {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes loaderdot {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-seriff";
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
}

header .headertop__back {
  position: absolute;
  left: 15px;
  top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headertop__back .fa-arrow-left {
  font-size: 15px;
  color: black;
}

header .headertop__back .fa-arrow-left:hover {
  color: #9356DC;
}

.loaderspinner {
  position: fixed;
  background-color: #E2E2E2;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0.8;
  -webkit-animation: loaderdisappear 0.5s;
          animation: loaderdisappear 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loaderspinner .dot1 {
  width: 50px;
  height: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9356DC;
  margin: 0 15px 0 15px;
  -webkit-animation: loaderdot infinite 0.3s alternate;
          animation: loaderdot infinite 0.3s alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loaderspinner .dot2 {
  width: 50px;
  height: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FF79DA;
  margin: 0 15px 0 15px;
  -webkit-animation: loaderdot infinite 0.3s alternate;
          animation: loaderdot infinite 0.3s alternate;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.loaderspinner .dot3 {
  width: 50px;
  height: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #99e2d0;
  margin: 0 15px 0 15px;
  -webkit-animation: loaderdot infinite 0.3s alternate;
          animation: loaderdot infinite 0.3s alternate;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.headertop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headertop h1 {
  font-family: "Shrikhand", "sans-seriff";
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 9px 0;
}

.research {
  background-color: #E2E2E2;
  -webkit-box-shadow: inset 0 4px 5px #c0c0c0;
          box-shadow: inset 0 4px 5px #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.research__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding-top: 6px;
}

.fa-map-marker-alt {
  background-color: #E2E2E2;
  color: black;
  padding: 7px 16px 0 2px;
}

.countrytown {
  padding: 14px 0 20px 0;
  text-align: left;
  border: none;
  font-weight: 500;
  background-color: #E2E2E2;
  width: 58%;
}

.research__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-color: #f2f2f2;
  padding: 40px 0 0 0;
}

.research__description h2 {
  margin: 0 67px 12px 67px;
}

.research__description p {
  font-size: 18px;
  font-weight: lighter;
  margin: 0 0 30px 0;
}

.research__button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 0px 0px 58px 0px;
}

.research__button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 5px 10px #464545;
          box-shadow: 0px 5px 10px #464545;
}

.fonctionnement {
  counter-reset: number;
  padding: 50px 0 70px 0;
}

.fonctionnement h2 {
  margin: 0 0 25px 20px;
}

.fonctionnement ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 20px 0 33px;
}

@media (max-width: 800px) {
  .fonctionnement ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #E2E2E2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  padding: 28px 0 28px 0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
}

.fonctionnement li::before {
  content: counter(number);
  counter-increment: number;
  position: absolute;
  width: 26px;
  height: 26px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -13px;
}

.fonctionnement li:hover {
  background-color: #e9d9ff;
  color: #a15efd;
}

.fonctionnement li:hover i {
  color: #a15efd;
}

.fonctionnement li i {
  margin: 0 30px 0 35px;
  font-size: 20px;
  color: grey;
}

.restaurant {
  background-color: #f2f2f2;
  padding: 60px 0 45px 0;
}

.restaurant h2 {
  margin: 0 0 30px 20px;
}

.restaurant .restaurant_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px 0 20px;
}

@media (min-width: 1460px) {
  .restaurant .restaurant_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.restaurant .restaurant__cadre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .restaurant .restaurant__cadre {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1460px) {
  .restaurant .restaurant__cadre {
    width: 50%;
  }
}

.restaurant a {
  width: 100%;
}

.restaurant .new {
  position: relative;
}

.restaurant .new::before {
  content: "Nouveau";
  position: absolute;
  position: absolute;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #278870;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 10px;
  top: 14px;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
}

.restaurant .restaurant__card {
  background-color: white;
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
}

.restaurant .restaurant__card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurant .restaurant__card .restaurant__description {
  margin-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant .restaurant__card .restaurant__description .restaurant__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant .restaurant__card .restaurant__description .restaurant__text h4 {
  margin: 10px 0 10px 0;
}

.restaurant .restaurant__card .restaurant__description .restaurant__text p {
  font-weight: lighter;
  margin-bottom: 20px;
}

.restaurant .restaurant__card .restaurant__description .restaurant__logo {
  width: 10px;
  position: relative;
}

.restaurant .restaurant__card .restaurant__description .restaurant__logo::before {
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 22px;
  color: black;
  position: absolute;
  opacity: 1;
  right: 25px;
  top: 23px;
}

.restaurant .restaurant__card .restaurant__description .restaurant__logo:hover::before {
  opacity: 0;
}

.restaurant .restaurant__card .restaurant__description .restaurant__logo::after {
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
  color: transparent;
  position: absolute;
  opacity: 0;
  right: 25px;
  top: 23px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.restaurant .restaurant__card .restaurant__description .restaurant__logo:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer_cadre {
  background-color: #353535;
  width: 100%;
  height: 197px;
  padding: 25px 0 0 25px;
}

.footer_cadre h3 {
  font-size: 18px;
  font-family: "Shrikhand", "sans-seriff";
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}

.footer_cadre .footer__liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer_cadre .footer__liste {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2vw;
  }
}

.footer_cadre .footer__liste a {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.footer_cadre .footer__liste i {
  width: 22px;
  height: 16px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background {
  width: 100%;
  height: 265px;
}

.background_image {
  width: 100%;
  height: 100%;
}

.background_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  width: 100%;
  height: 1100px;
  background-color: #E2E2E2;
}

@media (min-width: 992px) {
  .menu {
    height: 487px;
  }
}

@media (max-width: 356px) {
  .menu {
    height: 1133px;
  }
}

.menu2 {
  position: relative;
  width: 100%;
  height: 1183px;
  background-color: #E2E2E2;
}

@media (min-width: 992px) {
  .menu2 {
    height: 567px;
  }
}

@media (max-width: 356px) {
  .menu2 {
    height: 1215px;
  }
}

.menucontainer {
  position: absolute;
  background-color: #E2E2E2;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px 35px 0 0;
  top: -50px;
  left: 0;
  right: 0;
}

.menucontainer .menucontainer__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menucontainer .menucontainer__titre h2 {
  margin-left: 20px;
  padding: 35px 60px 16px 0;
  font-family: "Shrikhand", "sans-seriff";
  font-size: 28px;
  font-weight: 500;
}

.menucontainer .menucontainer__titre .menucontainer__logo {
  width: 10px;
  position: relative;
}

.menucontainer .menucontainer__titre .menucontainer__logo::before {
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 22px;
  color: black;
  position: absolute;
  opacity: 1;
  right: 40px;
  top: 37px;
}

.menucontainer .menucontainer__titre .menucontainer__logo:hover::before {
  opacity: 0;
}

.menucontainer .menucontainer__titre .menucontainer__logo::after {
  content: "\f004";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
  color: transparent;
  position: absolute;
  opacity: 0;
  right: 40px;
  top: 37px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.menucontainer .menucontainer__titre .menucontainer__logo:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menucontainer .container_epd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .menucontainer .container_epd {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menucontainer .container_epd .container__epd-e {
  width: 100%;
}

@media (min-width: 992px) {
  .menucontainer .container_epd .container__epd-e {
    width: 33%;
  }
}

.menucontainer .container_epd .container__epd-e h3 {
  margin: 20px 0 0 20px;
  font-family: "Roboto", "sans-seriff";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.menucontainer .container_epd .container__epd-e h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px 0 15px 0;
  background-color: #99e2d0;
}

.menucontainer .container_epd .container__epd-e ul {
  list-style: none;
  margin: 0 15px 0 15px;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 0.5s ease-out;
          animation: progressappear 0.5s ease-out;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e1 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-e ul .li-e1:hover .check, .menucontainer .container_epd .container__epd-e ul .li-e1:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-e ul .li-e1:hover .check i, .menucontainer .container_epd .container__epd-e ul .li-e1:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 1s ease-out;
          animation: progressappear 1s ease-out;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e2 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-e ul .li-e2:hover .check, .menucontainer .container_epd .container__epd-e ul .li-e2:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-e ul .li-e2:hover .check i, .menucontainer .container_epd .container__epd-e ul .li-e2:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 1.5s ease-out;
          animation: progressappear 1.5s ease-out;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e3 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-e ul .li-e3:hover .check, .menucontainer .container_epd .container__epd-e ul .li-e3:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-e ul .li-e3:hover .check i, .menucontainer .container_epd .container__epd-e ul .li-e3:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 2s ease-out;
          animation: progressappear 2s ease-out;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-e ul .li-e4 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-e ul .li-e4:hover .check, .menucontainer .container_epd .container__epd-e ul .li-e4:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-e ul .li-e4:hover .check i, .menucontainer .container_epd .container__epd-e ul .li-e4:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-p {
  width: 100%;
}

@media (min-width: 992px) {
  .menucontainer .container_epd .container__epd-p {
    width: 33%;
  }
}

.menucontainer .container_epd .container__epd-p h3 {
  margin: 20px 0 0 20px;
  font-family: "Roboto", "sans-seriff";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.menucontainer .container_epd .container__epd-p h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px 0 15px 0;
  background-color: #99e2d0;
}

.menucontainer .container_epd .container__epd-p ul {
  list-style: none;
  margin: 0 15px 0 15px;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 0.5s ease-out;
          animation: progressappear 0.5s ease-out;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-p ul .li-p1 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-p ul .li-p1:hover .check, .menucontainer .container_epd .container__epd-p ul .li-p1:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-p ul .li-p1:hover .check i, .menucontainer .container_epd .container__epd-p ul .li-p1:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 1s ease-out;
          animation: progressappear 1s ease-out;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-p ul .li-p2 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-p ul .li-p2:hover .check, .menucontainer .container_epd .container__epd-p ul .li-p2:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-p ul .li-p2:hover .check i, .menucontainer .container_epd .container__epd-p ul .li-p2:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 1.5s ease-out;
          animation: progressappear 1.5s ease-out;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-p ul .li-p3 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-p ul .li-p3:hover .check, .menucontainer .container_epd .container__epd-p ul .li-p3:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-p ul .li-p3:hover .check i, .menucontainer .container_epd .container__epd-p ul .li-p3:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-d {
  width: 100%;
}

@media (min-width: 992px) {
  .menucontainer .container_epd .container__epd-d {
    width: 33%;
  }
}

.menucontainer .container_epd .container__epd-d h3 {
  margin: 20px 0 0 20px;
  font-family: "Roboto", "sans-seriff";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.menucontainer .container_epd .container__epd-d h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px 0 15px 0;
  background-color: #99e2d0;
}

.menucontainer .container_epd .container__epd-d ul {
  list-style: none;
  margin: 0 15px 0 15px;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 0.5s ease-out;
          animation: progressappear 0.5s ease-out;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-d ul .li-d1 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-d ul .li-d1:hover .check, .menucontainer .container_epd .container__epd-d ul .li-d1:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-d ul .li-d1:hover .check i, .menucontainer .container_epd .container__epd-d ul .li-d1:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 1s ease-out;
          animation: progressappear 1s ease-out;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-d ul .li-d2 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-d ul .li-d2:hover .check, .menucontainer .container_epd .container__epd-d ul .li-d2:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-d ul .li-d2:hover .check i, .menucontainer .container_epd .container__epd-d ul .li-d2:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  -webkit-animation: progressappear 1.5s ease-out;
          animation: progressappear 1.5s ease-out;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 .description {
  margin: 0 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 .description h4 {
  font-size: 18px;
  margin: 15px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 .description p {
  font-size: 14px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 .price {
  margin: 0 20px 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 .price p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 .check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0 14px 14px 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menucontainer .container_epd .container__epd-d ul .li-d3 .check i {
  font-size: 15px;
  color: #99e2d0;
  font-weight: 900;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .container_epd .container__epd-d ul .li-d3:hover .check, .menucontainer .container_epd .container__epd-d ul .li-d3:active .check {
  margin-right: 0px;
}

.menucontainer .container_epd .container__epd-d ul .li-d3:hover .check i, .menucontainer .container_epd .container__epd-d ul .li-d3:active .check i {
  -webkit-animation: checkanim 1s ease-in-out;
          animation: checkanim 1s ease-in-out;
}

.menucontainer .command_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menucontainer .command_container .command__button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px #949494;
          box-shadow: 0px 5px 10px #949494;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 40px 0px 57px 0px;
}

.menucontainer .command_container .command__button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 5px 10px #464545;
          box-shadow: 0px 5px 10px #464545;
}
/*# sourceMappingURL=style.css.map */